<table class="table">
    <tr>
        <th>Paciente</th>
        <th>Servicio</th>
        <th>Terapeuta</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Paciente?.Nombre</td>
            <td>@item.Servicio?.Nombre</td>
            <td>@item.Terapeuta?.Nombre</td>
            <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
            <td>@item.Hora</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CitaID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CitaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CitaID })
            </td>
        </tr>
    }
</table>

